body {
	background-image: url("https://cdn.pixabay.com/photo/2014/12/14/18/33/cube-568105_960_720.jpg");
}
p.di {
    font-size: 48px;
    font-weight: bold;
    color: White;
}
p.power {
    font-size: 48px;
    font-weight: bold;
    color: Red;
}
h1 {
	font-size: 64px;
	font-weight: bold;
	color: White;
}
h3 {
	font-size: 22px;
	font-weight: bold;
	color: White;
}
p.label {
	font-size: 18px;
	font-weight: bold;
	color: White;
}
table, th, td {
    border: 4px red;
}
th, td {
    padding: 2px;
}
tr {
    background-color: black;
}
a:hover {
	background-color: red;
}
a:visited {
	color: purple;
}